.component {
  background-image: url("../../assets/images/earth_lights_lrg.jpg");
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  color: white;
  font-size: 48px;
  display: block;
}

#chat-board {
  background-color: white;
  text-align: center;
}
  

.send {
    background: url("../../assets/images/send.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  
}